<div class="container">
	<div class="row">
		<div class="span3">
			<%= image_tag "vote_winky.jpg", class: 'winky' %>
		</div>
		<div class="span9">
			<h2>Muscle Justice:</h2><h3>Horsepower II: The Secret of the Hooves</h3>
			<p class="bio">When Miss Winky came to the Muscle Justice organization just weeks before the 2011 season, she found a team disjointed and lost. After securing an overseas corporate sponsor in Horsepower, thus saving the team from bankruptcy, she turned her focus inward and began rebuilding the heart of a group that had forgotten how to believe in itself.</p> 
			<p class="bio">Spending countless hours on the field and endless nights scouring tapes from past games and Rocky montages, Miss Winky built not superstars, but a team that could think and move as one. Always a horse of few words, Miss Winky has let the scoreboard do the talking. After returning to the playoffs in 2011, Muscle Justice have opened up their 2012 season at 5-0. This renewed spirit and success would not be possible if not for the leadership of one very special horse. Miss Winky, the steady hand on the reins of the pack of weirdos that is <strong>Muscle Justice: Horsepower II: The Secret of the Hooves</strong></p>
			<div class="center">
				<form id="poll_form" name="poll_form" method="post" action="http://providenceonline.com/poll_process.html?sub_id=3002" >
					<!-- action="http://providenceonline.com/poll_process.html?sub_id=3002" -->
					<input id="answerinput_29" value="29" type="hidden" name="poll_vote">
					<input type="submit" value="Vote Winky"> <== click here to vote (will transfer to result page)
				</form>
			</div>
		</div>
	</div>
</div>